{% extends 'bank_app/base/base2.html' %}
{% block content %}
  <h1>Create new customer</h1>
  <div class="form">
    <form action="" method="post">
      {% csrf_token %}
      {{user_form}}
      {{customer_form}}
      <input type="submit" value="Create a new cusomer" />
    </form>
  </div>
{% endblock %}
