{% extends 'bank_app/base/base3.html' %}
{% block content %}
<div class="form">
  <form action="" method="post">
    {% csrf_token %}
      {% if account.user_id == user_id %}
      {{ transfer_form }}
      {% endif %}
    <input type="submit" value="Make transfer"/>
    <!-- <label for="amount">Send Amount</label>
    <input type="number" id="amount" placeholder="DKK 100,00">
    <label for="receiver">Receiver account</label>
    <input type="text" id="receiver" placeholder="Select account">
    <label for="sender">Sender account</label>
    <input type="text" id="sender" placeholder="Select account">
    <label for="delivery">Delivery type</label>
    <input type="text" id="delivery" placeholder="Select delivery type"> -->
  </form>
</div>
{% endblock %}
