{% extends 'bank_app/base/base.html' %}
{% block title %} Sparion - Sign in {% endblock %}
{% block content %}
<div class="login_app">
   <h1>Login</h1>
   <form action="{% url 'login_app:login' %}" method="post">
         {% csrf_token %}
         <input type="text" name="user" placeholder="User Name"/>
         <input type="password" name="password" placeholder="Password"/>
         <button>Sign in</button>
         <p>Dont have an account? <a href="{% url 'login_app:sign_up' %}"><b>Sign up!</b></a></p>
      </form>
   </div>
   {% if error %}
      {{ error }}
   {% endif %}
{% endblock %}
