{% extends 'bank_app/base/base.html' %}
{% block title %} Sparion - Sign up {% endblock %}
{% block content %}
<div class="login_app">
  <h1>Sign Up</h1>
  <form action="{% url 'login_app:sign_up' %}" method="post">
    {% csrf_token %}
    <input type="text" name="first_name" placeholder="First Name" />
    <input type="text" name="last_name" placeholder="Last Name" />
    <input type="text" name="user" placeholder="User Name" />
    <input type="email" name="email" placeholder="Email Address" />
    <input type="number" name="phone_number" placeholder="Phone number" />
    <input type="password" name="password" placeholder="Password" />
    <input
      type="password"
      name="confirm_password"
      placeholder="Confirm Password"
    />
    <button>Sign Up</button>
  </form>
</div>
{% if error %}
  {{ error }}
{% endif %}
{% endblock %}
